{% extends 'base.html' %}
{% block title %} Contact Us {% endblock %}
{% block tohen %}
    <div id="ContactUsBody">
    <span>
        <h1 id="header3">צור קשר</h1>
    </span>
        <form id="formContuct" action="URL" method="post"
              onsubmit="alert('הודעתך נשלחה בהצלחה, נחזור אלייך בהקדם! ויאללה נתראה בשלג :)');">
            <label for="">שם מלא</label><br>
            <input type="text" id="fullName" name="fullName" autocomplete="on" required><br>
            <label for="">אימייל</label><br>
            <input type="email" id="email" name="email" autocomplete="on" required><br>
            <label for="">מספר ימי חופשה</label><br>
            <input type="number" id="vacation days" name="vacation days" autocomplete="on" required><br>
            <label for="">תאריך תחילת חופשה</label><br>
            <input type="date" id="date for vacation" name="date for vacation" autocomplete="on" required><br>
            <label for=""></label><br>
            <select name="סגנון גלישה" id="סגנון" autocomplete="on" required>
                <option value="" selected disabled hidden>בחר סגנון גלישה</option>
                <option value="סקי">סקי</option>
                <option value="סנובורד">סנובורד</option>
            </select><br><br>
            <label for="">מסכים לשלוח פרטים </label><br>
            <input type="checkbox" id="agreeDetails" name="agreeDetails" required><br>
            <button id="submit" type="submit">שליחה</button>
        </form>
        <footer id="footer2">
            <p class="pFooter">
                עקבו אחרינו ברשתות החברתיות
            </p>
            <img class="icon2" src="../static/instagram.png">
            <img class="icon2" src="../static/twitter.png">
            <img class="icon2" src="../static/whatsapp (1).png">
        </footer>
    </div>
{% endblock %}